 @keyframes waveAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .rhap_progress-filled {
    height: 6px !important; 
    border-radius: 10px;
    background: linear-gradient(90deg, #1db954, #25d366, #ffcc00);
    background-size: 200% 200%;
    animation: waveAnimation 2s infinite linear;
  }
  